.pricing-section {
	.container {
		h1 {
		}

		.pricing-plans {
			.plan {
				h3 {
				}

				p {
				}

				h1 {
				}

				.checklist-container {
					.checklist-item {
					}
				}

				.btn-secondary {
				}
			}
		}

		.ready-to-start {
			display: flex;
			align-items: center;
			margin: 10rem 0;

			h2 {
				margin-right: auto;
			}
		}
	}
}
